@font-face {
    font-family: 'avo';
    src: url('../../fonts/avo/utm-avo.ttf');
}
button, input{border-radius: 0 !important;}
textarea:focus, 
textarea.form-control:focus, 
input.form-control:focus, 
input[type=text]:focus, 
input[type=password]:focus, 
input[type=email]:focus, 
input[type=number]:focus, 
[type=text].form-control:focus, 
[type=password].form-control:focus, 
[type=email].form-control:focus, 
[type=tel].form-control:focus, 
.card-body:focus,
[contenteditable].form-control:focus {
  box-shadow: inset 0 -1px 0 #ddd !important;
  outline: none !important;
}
#accordion-menu-th{
    .card{
        margin-bottom: 4px;
    }
}
$cool-red: red;
.acf-group-multipe-array{
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    > div{
        position: relative;
        border-bottom: 1px dashed rgba(0,0,0,0.1);
        margin-bottom: 10px;
        input[value="x"]{
            position: absolute;
            top: 0%;
            left: -34px;
            background-color: inherit;
            border: none;
            width: 26px;
            height: 26px;
            color: red;
        }
    }
}
.acf_field_group_array_wrapper{
    > div{
        position: relative;
        margin-bottom: 10px;
        input[value="x"]{
            position: absolute;
            top: 4%;
            left: -23px;
            border-radius: 50%;
            background-color: inherit;
            border: none;
            width: 26px;
            height: 26px;
            color: red;
        }
    }
}
.table-bordered thead th, .table-bordered thead td{
    border-bottom-width: 1px;
}
.field-column-wrapper .form-group{
    float: left;
}
.field-column-wrapper .form-group:not(:last-child){
    // margin-right: 10px;
}
.df-acf{
    margin-top: 14px;
    .box-header-field{
        border: 1px solid rgba(0, 0, 0, 0.125);
        padding: 4px 10px;
        font-weight: 600;
        .fd-down-acf{
            margin-top: 4px;
        }
    }
    .box-header-field.collapsed{
        .fd-down-acf{
            transform: rotate(180deg);
        }
    }
    .card{
        border-radius: 0;
        border-top: 0;
    }
}



$cool-green : #17A2B8;
.table-acf-form{
    tr{
        td.td-label{
            font-weight: bold;
            width: 20%;
        }
    }
}
.flex-style-1{
    display: flex;
    li{
        flex: 1;
    }
}
.t-red {
    color: $cool-red
}
.cursor-pointer{
    cursor: pointer;
}
.rotate-180{
    transform: rotate(180deg);
    transition: all 0.3s;
}
.bt-toggle-box-tom{
    transition: all 0.3s;
}
h6{
    font-size: 14px;
}
body{
    font-family: 'avo';
    font-size: 14px;
}
#acf-wrapper{
    .table-list-acf{
        tbody{
            tr:hover .action-methods{
                opacity: 1;
            }
            .action-methods{
                font-size: 12px;
                opacity: 0;
            }
        }
        
    }
    
}
.wrapper{
    display: flex;
    align-items: stretch;
    #sidebar{
        min-width: 250px;
        max-width: 250px;
        min-height: 100vh;
        transition: all 0.3s;
        background-color: #31353D;
        padding: 16px;
        color: #818896;
        a{
            color: #818896;
        }
        a:hover{
            text-decoration: none;
        }
        .menu-sidebar-items{
            li{
                position: relative;
                margin: 14px 0px;
                span.badge{
                    position: absolute;
                    right: 18px;
                    top: 7px;
                }
                i.fa{
                    background-color: #3A3F48;
                    padding: 7px;
                    border-radius: 3px;
                }
                a{
                    display: block;
                    transition: all 0.3s;
                }
                a:hover{
                    color: #b8bfce;
                }
            }
            li:hover .fa{
                transition: all 0.3s ease;
                color: #16c7ff;
            }
            li.sidebar-dropdown{
                a.ls_down::after{
                    font-family: "Font Awesome 5 Free";
                    font-weight: 900;
                    content: "\f105";
                    position: absolute;
                    top: 5px;
                    right: 0;
                    transition: all 0.3s;
                }
                .sidebar-submenu{
                    display: none;
                }
            }
            li.sidebar-dropdown.active{
                i.fa{
                    color: #16c7ff;
                }
                a::after{
                    transform: rotate(90deg);
                    transition: all 0.3s;
                }
            }
        }
        .sidebar_header{
            display: flex;
            .user-pic{
                flex: 1;
                img{
                    width: 80%;
                    border-radius: 7px;
                }
            }
            .user-info{
                flex: 2;
                span{
                    display: block;
                }
                span.user-status i{
                    font-size: 8px;
                    margin-right: 4px;
                    color: #5cb85c;
                    vertical-align: middle;
                }
            }
            
        }
    }
    #sidebar.active {
        margin-left: -250px;
        transition: all 0.3s;
    }
    #content{
        width: 100%;
        padding: 20px;
        min-height: 100vh;
        transition: all 0.3s;
    }
    .header-acf-field{
        .u-acf-head{
            font-weight: bold;
            @extend .flex-style-1;
        }
    }
    .acf-form-wrapper{
        .items-acf{
            margin-bottom: 10px;
            .head-acf{
                border: 1px solid #ccc;
            }
        }
        .head-acf{
            .u-acf-head{
                margin-bottom: 0;
                padding: 12px 4px;
                @extend .flex-style-1;
                > li > span{
                    font-weight: bold;
                }
                .order{
                    display: inline-block;
                    border-radius: 50%;
                    width: 34px;
                    height: 34px;
                    text-align: center;
                    border: 1px solid;
                    padding-top: 5px;
                }
                .fn-crud{
                    cursor: pointer;
                }
            }
            .u-acf-head.active{
                background-color: $cool-green;
                color: #fff;
            }
            
        }
        .tb-acf{
            display: none;
            
        }
    }
    .box-tom{
        .header-box-tom{
            border: 1px solid #dee2e6;
            padding: 0.75rem;
            margin-top: 10px;
            // border-bottom: 0;
        }
    }
    
}



@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
        transition: all 0.3s;
    }
}